/*HEADER BACKGROUND*/
.header {
    background: url(../images/about-header.png);
}

@media screen and (max-width: 767px) {
    .header {
        background: url(../images/about-header.png);
    }
}

/*HEADER BACKGROUND*/
#map{
    height:860px;
    width:100%;
}
.map{
    position: relative;
    border-top: 1px solid transparent;
}


/* LOCATION START*/
.about-title {
    font-family: ProximaNovaThin;
    font-size: 32pt;
    color: #000;
    margin: 50px 0;
    display: block;
}
.legend{
    position:absolute;
    background-color: rgba(15, 22, 42, 0.6);
    height: 590px;
    width: 360px;
    z-index: 9999;
    top: 50px;
    left: 0px;
}
/* LOCATION END*/
.philosophy{
    color: #000000;
    font-size: 16pt;
    font-family: ProximaNovaReg;
}
/* FOOTER BACKGROUND*/
.footer {
    background: url(../images/citizenship_footer_bg.png);
}

@media screen and (max-width: 767px) {
    .footer {
        background: url(../images/citizenship_footer_bg-xs.png);
    }
}

/* FOOTER BACKGROUND*/