/*HEADER BACKGROUND*/
.header {
    background: url(../images/contact_header_bg.png);
}

@media screen and (max-width: 767px) {
    .header {
        background: url(../images/contact_header_bg-xs.png);
    }
}

/*HEADER BACKGROUND*/
.register, .agent {
    color: #000000;
    padding-bottom: 100px;
}

#passport_container{
    border: 1px solid #c8c8c8;
    border-radius: 5px;
    width: 100%;
    height: 60px;
    padding: 1px;
    padding-bottom: 2px;
    margin-top: 20px;
}
#add_new_passport{
    background-color: #c8c8c8;
    color: #FFFFFF;
    font-family: ProximaNovaReg;
    font-size: 18pt;
    width: 25%;
    height: 100%;
    border: none;
    border-radius: 5px;
}
#new_passport_link{
    color: #c8c8c8;
    background-color: #FFFFFF;
    font-family: ProximaNovaReg;
    font-size: 18pt;
    height: 100%;
    width: 73%;
    border: none;
    padding-left: 20px;
}

/*input[type="text"],
input[type="password"],*/
.input_data{
    width: 100%;
    height: 50px;
    float: left;
    font-family: ProximaNovaLight;
    font-size: 15pt;
    padding: 0 0 0 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid #999999;
}

/*input[type="button"],
input[type="submit"],*/
.buttons{
    width: 100%;
    height: 50px;
    float: left;
    font-family: ProximaNovaLight;
    font-size: 15pt;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    border: 1px solid #000000;
    background-color: #000000;
    border-radius: 5px;
    margin: 10px 0;
}

#repass {
    text-decoration: underline;
    color: #75bbef;
    font-family: ProximaNovaLight;
    font-size: 14pt;
    cursor: pointer;
    width: auto;
    text-transform: none;
    background-color: transparent;
    border: none;
    height: auto;
    margin: 0px;
}

.form_container {
    width: 100%;
}

.agent_data, .user_data {
    width: 100%;
}

.agent_data tr {
    height: 50px;
    border-top: 1px solid #c8c8c8;
    font-family:ProximaNovaLight;
    font-size: 18pt;
}
.agent_data tr:last-child{
    border-bottom: 1px solid #c8c8c8;
}
.agent_data tr:nth-child(4),
.agent_data tr:nth-child(5),
.agent_data tr:nth-child(6){
    color: grey;
}
#user_add_btn{
    display : block;
    border  : 1px solid grey;
    border-radius: 5px;
    height: 58px;
    width: 100%;
    font-family: ProximaNovaThin;
    font-size: 24pt;
    text-align: center;
    padding-top: 6px;
    cursor: pointer;
}
#user_add_btn:hover{
    background-color: #000000;
    color: #FFFFFF;
}
#user_add_btn > span{
    background: url(../images/add_client_sprite.png);
    background-position: 0px 0px;
    display: block;
    height: 48px;
    width : 44px;
    float: left;
    margin-left: 20%;
}
#user_add_btn > p{
    float: left;
}

#user_add_btn:hover > span{
    background-position: 0px -50px;
}
.clients{
    margin-top: 100px;
    overflow-x: auto;
    display: block;
}
.clients th{
    text-align: center;
}
.clients td,
.clients th{
    padding: 0 10px;
}
.clients tr:not(:first-child){
    height: 50px;
    border-top: 1px solid grey;
}
.clients tr:not(:first-child):hover{
    background-color: lightgray;
}
/* FOOTER START*/
.footer {
    background: url(../images/contact_footer_bg.png);
}

@media screen and (max-width: 767px) {
    .footer {
        background: url(../images/contact_footer_bg-xs.png);
    }
}

/* FOOTER END*/