/*HEADER BACKGROUND*/
.header {
    background: url(../images/citizenship_header_bg.png);
}

@media screen and (max-width: 767px) {
    .header {
        background: url(../images/citizenship_header_bg-xs.png);
    }
}

/*HEADER BACKGROUND*/
.list ul {
    padding: 0px;
}

.list ol > li {
    list-style: square;
    padding-left: 40px;
    margin-top: 0px;

}

.dotted > span {
    height: 25px;
}

.dotted:before {
    content: url("../images/citizenship/dot.png");
    width: 15px;
    height: 25px;
    display: block;
    float: left;
}

@media screen and (max-width: 767px) {
    .dotted:before {
        float: none;
    }
}

.list li {
    display: block;
    list-style-type: none;
    margin-top: 10px;
}

.list li > span {
    display: block;
    height: 40px;
    padding-top: 5px;
}

@media screen and (max-width: 767px) {
    .list ol {
        padding-left: 20px;
    }

    .list li {
        margin-top: 0px;
    }

    .list li > span {
        font-family: ProximaNovaReg;
        font-size: 12pt;
        padding-left: 20px;
    }

    .list ul > li:before {
        width: 15px;
        height: 20px;
        content: url("../images/citizenship/4dot.png");
        display: block;
    }

    .list ol > li {
        height: 25px;
        list-style: square;
        padding-left: 0px;
        margin-bottom: 10px;
    }
}

.list li > .image {
    width: 60px;
    height: 40px;
    background-repeat: no-repeat !important;
    float: left;
}

.list {
    padding-top: 30px;
    margin-bottom: 50px;
}

/* CITIZENSHIP START */
.citizenship {
    background: url("../images/citizenship_bg.png");
    background-position: 0px -210px;
    min-height: 880px;
    font-family: ProximaNovaReg;
    font-size: 12pt;
    background-repeat: no-repeat;
    color: #000000;
}

@media screen and (max-width: 767px) {
    .citizenship {
        background: none;
        font-size: 32pt;
        padding: 0px 20px;
    }
}

.citizenship-title {
    font-family: ProximaNovaThin;
    font-size: 32pt;
    margin: 50px 0;
    display: block;
}

@media screen and (max-width: 767px) {
    .citizenship-title {
        font-family: ProximaNovaReg;
    }
}

.citizenship-title_steps {
    font-family: ProximaNovaThin;
    font-size: 32pt;
    margin-top: 50px;
    display: block;
}

@media screen and (max-width: 767px) {
    .citizenship-title_steps {
        font-family: ProximaNovaReg;
    }
}

.citizenship-title_2 {
    font-family: ProximaNovaBold;
    font-size: 16pt;
    margin: 20px 0;
    display: block;
}

.citizenship-title_3 {
    font-family: ProximaNovaReg;
    font-size: 16pt;
    margin: 0px 0;
    display: block;
}

.citizenship-title_4 {
    font-family: ProximaNovaReg;
    font-size: 14pt;
    margin: 0px 0;
    display: block;
}

.steps_container {
    padding-left: 30px;
    padding-bottom: 30px;
}

.steps_img {
    padding-bottom: 10px;
}

.arrows {
    margin: 30px auto;
}

/* CITIZENSHIP END */
/* FOOTER START*/
.footer {
    background: url(../images/citizenship_footer_bg.png);
}

@media screen and (max-width: 767px) {
    .footer {
        background: url(../images/citizenship_footer_bg-xs.png);
    }
}

/* FOOTER END*/