/*HEADER BACKGROUND*/
.header{
    background: url(../images/contact_header_bg.png);
}
@media screen and (max-width: 767px){
    .header{
        background: url(../images/contact_header_bg-xs.png);
    }
}
/*HEADER BACKGROUND*/

/* CONTACT START */
.contact{
    color: #000000;
}
.contact_header{
    font-family: ProximaNovaReg;
    font-size: 34pt;
    display: block;
    margin-bottom: 50px;
    margin-top: 50px;
}
table{
    font-family: ProximaNovaLight;
    font-size: 20pt;
}
.link{
    color: #4490f8;
}
tr > td:first-child{
    width: 100px;
    display: block;
}
td > a{
    color: #b1ccfb;
    text-decoration: underline;
}
.callback{
    font-family: ProximaNovaBold;
    font-size: 24pt;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.name_input, .phone_input{
    /*min-width: 295px;*/
    width: 100%;
    height: 50px;
    float: left;
    font-family: ProximaNovaLight;
    font-size: 15pt;
    padding: 0 0 0 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid #999999;
}
@media screen and (max-width: 1199px){
    table{
        font-size:15pt;
    }
    .callback{
        font-size:15pt;
    }
}
@media screen and (max-width: 991px){
    table{
        font-size:10pt;
    }
    .callback{
        font-size:10pt;
    }
}
@media screen and (max-width: 767px){
    .name_input, .phone_input{
        height:60px;
    }
    table{
        font-size:20pt;
    }
    .callback{
        font-size:24pt;
        margin-top: 50px;
    }
}
.message{
    /*width: 295px;*/
    width:100%;
    height: 170px;
    float: left;
    font-family: ProximaNovaLight;
    font-size: 15pt;
    padding: 10px 15px;
    border-radius: 5px;
    margin-left: 10px;
    border: 1px solid #999999;
}
@media screen and (max-width: 767px){
    .message{
        margin-left: 0px;
    }
}
.send_button{
    width: 100%;
    height: 50px;
    float: left;
    font-family: ProximaNovaLight;
    font-size: 15pt;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    border:1px solid #000000;
    background-color: #000000;
    border-radius: 5px;
    margin: 10px 0;
    transform: translateY(-60px);
}
@media screen and (max-width: 767px){
    .send_button{
        transform: none;
    }
}
.map{
    width:100%;
    height:750px;
}
/* CONTACT END */

/* FOOTER START*/
.footer {
    background: url(../images/contact_footer_bg.png);
}
@media screen and (max-width: 767px){
    .footer{
        background: url(../images/contact_footer_bg-xs.png);
    }
}
/* FOOTER END*/
