/********************
 * FEATURE CAROUSEL *
 ********************/
.carousel-container {
    position: relative;
    max-width: 1200px;
    width: 100%;
}

#carousel {
    height: 500px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.carousel-image {
    border: 0;
    display: block;
}

.carousel-feature {
    position: absolute;
    top: -1000px;
    left: 50% !important;
    border: 0px solid #5d5d5d;
    cursor: pointer;
}

.carousel-feature .carousel-caption {
    position: absolute;
    float: right;
    top: 0;
    left: 75%;
    width: 25%;
    height: 100%;
    background: url(../images/bgr.png);
    background-repeat: space;
    text-align: left;
    padding-left: 15px;

}

.tracker-summation-container {
    position: absolute;
    color: white;
    right: 48px;
    top: 230px;
}

.tracker-individual-container {
    position: absolute;
    color: white;
    right: 48px;
    top: 210px;
    padding: 0;
    margin: 0;
}

.tracker-individual-container li {
    list-style: none;
}

.tracker-individual-container .tracker-individual-blip {
    margin: 0 0px;
    padding: 0 0px;
    color: white;
    text-align: center;
}

.tracker-individual-container .tracker-individual-blip-selected {
    color: white;
    font-weight: bold;
}

#carousel-left {
    width: 50%;
    height: 400px;
    position: absolute;
    left: 0px;
    top: 51px;

    background: url(../images/bgr.png);
    background-repeat: space;

    cursor: pointer;
}
#carousel-left > img{
    position: absolute;
    left: 25px;
    top: 100px;
}

#carousel-right {
    height: 400px;
    width: 50%;
    position: absolute;
    top: 51px;
    right: 0px;

    background: url(../images/bgr.png);
    background-repeat: space;

    cursor: pointer;
}
#carousel-right > img{
    position: absolute;
    right: 25px;
    top: 100px;
}