* {
    outline: 0;
}

@font-face {
    font-family: BebasNeueBold; /* Гарнитура шрифта */
    src: url("../fonts/BebasNeue Bold.otf"); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: BebasNeueReg; /* Гарнитура шрифта */
    src: url("../fonts/BebasNeue Regular.otf"); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: ProximaNovaLight;
    src: url("../fonts/Proxima Nova Light.otf");
}

@font-face {
    font-family: ProximaNovaReg;
    src: url("../fonts/Proxima Nova Regular.otf");
}

@font-face {
    font-family: ProximaNovaBold;
    src: url("../fonts/Proxima Nova Bold.otf");
}
@font-face {
    font-family: ProximaNovaCnReg; /* Гарнитура шрифта */
    src: url("../fonts/Proxima Nova Condensed Regular.otf"); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: ProximaNovaCnLight; /* Гарнитура шрифта */
    src: url("../fonts/Proxima Nova Condensed Light.otf"); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: ProximaNovaCnBold; /* Гарнитура шрифта */
    src: url("../fonts/Proxima Nova Condensed Bold.otf"); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: ProximaNovaExCnBlack;
    src: url("../fonts/Proxima Nova Extra Condensed Black.otf");
}

@font-face {
    font-family: ProximaNovaExCnBold;
    src: url("../fonts/Proxima Nova Extra Condensed Bold.otf");
}

@font-face {
    font-family: ProximaNovaExCnExBold; /* Гарнитура шрифта */
    src: url("../fonts/Proxima Nova Extra Condensed Extrabold.otf"); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: ProximaNovaThin;
    src: url("../fonts/Proxima Nova Thin.otf");
}
@font-face {
    font-family: BebasNeue; /* Гарнитура шрифта */
    src: url("../fonts/BebasNeue Regular.otf"); /* Путь к файлу со шрифтом */
}

body {
    color: #FFF;
    max-width: 2000px;
}

@media screen and (max-width: 767px) {
    body {
        max-width: 640px;
    }
}

.text-indent {
    text-indent: 1.5em;
    padding: 0;
    margin: 0;
}
