
/* FOOTER START*/
.footer {
    min-height: 150px;
    color: #FFF;
    background-size: cover !important;
    background-position: center;

}

.footer-container {
    padding-top: 25px;
    position: relative;
}

.footer-logo {
    padding-top: 20px;
}

.copyright {
    font-size: 9pt;

}

.footer-phone {
    font-family: BebasNeueReg;
    font-size: 27pt;
}

.footer-smalltext {
    font-family: ProximaNovaCnReg;
    font-size: 11pt;
}

.footer-social {
    color: #FFFFFF;
    font-family: ProximaNovaCnReg;
    font-size: 10pt;
    opacity: 0.5;
}
.footer-social a{
    color: #FFFFFF;
    font-family: ProximaNovaCnReg;
    font-size: 10pt;
    text-decoration: underline;
}
@media (min-width:992px){
    .footer-social{
        margin-top:50px;
    }
}
.footer-social > a:link, .footer-social > a:visited, .footer-social > a:hover, .footer-social > a:active {
    text-decoration: underline;
    color: #ffffff;
}

/* FOOTER END*/
