/*HEADER BACKGROUND*/
.header{
    background: url(../images/contact_header_bg.png);
}
@media screen and (max-width: 767px){
    .header{
        background: url(../images/contact_header_bg-xs.png);
    }
}
/*HEADER BACKGROUND*/
.gallery .nav-tabs{
    border: 0px;
}
.gallery .nav-tabs .active{
    background-color: #000;
}
@media (min-width:768px){
    .gallery .nav-tabs > .active:after{
        content:url(../images/infrastructure-active-item.png);
        position: absolute;
        right: -12px;
        top: 15px;
    }
}

.gallery .nav-tabs > .active > a,
.gallery .nav-tabs > .active > a:hover,
.gallery .nav-tabs > .active > a:focus {
    border: 0px;
    border-top: 1px dotted #000;
    color: #FFF;
    background-color: inherit;
}
.gallery .nav-tabs > li{
    width:100%;
    height:50px;
    color: #000000;
    padding: 0px 20px;
    margin: 0px;
}

.gallery .nav-tabs li > a{
    width:100%;
    height:100%;
    border-radius: 0px;
    font-family: ProximaNovaCnReg;
    font-size: 14pt;
    color: #000;
    border-top: 1px dotted #000;
    white-space: pre-wrap;
}
@media (max-width: 1199px){
    .gallery .nav-tabs li > a{
        font-size: 10pt;
    }
}
@media (max-width: 767px){
    .gallery .nav-tabs{
        padding-left: 10px;
    }
    .gallery .nav-tabs li > a{
        font-size: 24pt;
        line-height: 30px;
    }
}
.gallery .nav-tabs li:last-child > a{
    border-bottom: 1px dotted #000;
}
.gallery .nav-tabs li > a:hover{
    background-color: inherit;
    border: 1px solid transparent;
    border-top: 1px dotted #000;
}
.gallery .nav-tabs li:last-child > a:hover{
    border-bottom: 1px dotted #000;
}
.gallery .tab-pane{
    font-family: ProximaNovaLight;
    font-size: 14pt;
}
.gallery .tab-pane p{
    margin-top: 20px;
}
.gallery .tab-pane img{
    width:100%;
}
.inf{
    margin-bottom:100px;
}
@media (max-width: 767px) {
    .gallery .inf-tabs{
        margin-bottom: 20px;
    }
}
@media (min-width: 768px) {
    .gallery .inf-tabs, .gallery .inf-content {
        min-height: 700px;
    }
}
.gallery .inf-content{
    float:left;
    padding: 0px;
}
.gallery .inf-content p{
    float:left;
    padding: 0px 20px;
}
@media (min-width: 768px){
    .gallery .inf-tabs{
        float:left;
        border-right: 2px solid #000;
    }
    .gallery .inf-content{
        float:left;
        padding: 0px 20px;
    }
}
.gallery img{
    width: 100% !important;
    height: 100% !important;
    margin-left: 0px !important;
    margin-top: 0px !important;
    border-radius: 10px !important;
}
/* FOOTER START*/
.footer {
    background: url(../images/contact_footer_bg.png);
}
@media screen and (max-width: 767px){
    .footer{
        background: url(../images/contact_footer_bg-xs.png);
    }
}
/* FOOTER END*/