/* MENU START*/
.menu{

}
.menu .navbar-toggle{
    padding: 0px;
    margin: 0px;
}
.menu .nav > li{
    position: inherit;
}
.menu .nav > li:not(:first-child){
    border-left: 1px solid rgba(255, 255, 255, 0.2);
}
.menu .nav > li:nth-child(1){
    border-left: 1px solid transparent;
}
.menu .nav > li > a{
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: ProximaNovaCnReg;
    font-size: 15pt;
    padding: 10px 24px;
    border: 1px solid transparent;
}

.menu .nav > li:hover,
.menu .nav > li:focus{
    border-left: 1px solid transparent;
}
.menu .nav > li:hover + li,
.menu .nav > li:focus + li{
    border-left: 1px solid transparent;
}

.menu .nav > li > a:hover, .menu .nav > li > a:focus {
    background: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 25px;
}
.menu .nav .open > a,
.menu .nav .open > a:hover,
.menu .nav .open > a:focus{
    background: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 25px;
}
@media (min-width: 768px    ){
    .menu .navbar{
        margin-top: 20px;
    }
}
.menu .dropdown{

}
.menu .dropdown-menu{
    position: absolute;
    left: 0px;
    width: 100%;
    background: transparent;
    border:none;
    border-top:1px solid rgba(255, 255, 255, 0.6);
    box-shadow: none;
    margin-top: 20px !important;
    padding: 15px 0 !important;
}
.menu .dropdown-menu > li{
    float: left;
    position: relative;
}
.menu .dropdown-menu > li > a{
    text-decoration: none;
    text-transform: none;
    color: #FFFFFF;
    font-family: ProximaNovaCnReg;
    font-size: 14pt;
    opacity: 0.6;
}
.menu .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
    opacity:1;
    background-color: transparent;
    color: inherit;
}

.menu .dropdown-menu > li > a:hover:after, .dropdown-menu > li > a:focus:after{
    content:url(../images/sub-menu-pointer.png);
    position: absolute;
    top:-24px;
    left:48%;
}

.menu .dropdown-menu > .active > a,
.menu .dropdown-menu > .active > a:hover,
.menu .dropdown-menu > .active > a:focus{
    opacity:1;
    background: transparent;
    color: inherit;
}

.menu .dropdown-menu > .active > a:after{
    content:url(../images/sub-menu-pointer.png);
    position: absolute;
    top:-24px;
    left:48%;
}

.menu .menu_switcher{
    display: inline-block;
    border: none;
    background: url(../images/menu-switch.png);
    background-position: 0px 0px;
    width: 31px;
    height:30px;
    float: right;
}
.menu .menu-button-xs {
    background-image: url(../images/menu-xs.png);
    background-size: 80% 50%;
    background-position: center;
    background-repeat: no-repeat;
    height: 75px;
    width: 90px;
}
.menu .open{
    border-left: 1px solid transparent !important;
}
.menu .open + li{
    border-left: 1px solid transparent !important;
}
.menu .open .menu_switcher{
    background-position: 0px -41px;
    height: 20px;
}

.menu .menu_close > a{
    font-family: ProximaNovaCnReg;
    font-size: 45pt !important;
    color: #FFFFFF;
    padding: 50px 30px;
    text-transform: uppercase;
}
.menu .menu_close > a:after{
    float: right;
    width: 45px;
    height: 45px;
    padding-top: 15px;
    transform: translateY(-20px);
    content: url(../images/menu-collapse.png);
}

@media (max-width: 1199px){
    .menu .navbar-nav > li > a {
        padding: 0px;
    }
    .menu .nav > li > a {
        padding: 10px 8px;
    }
    .menu .dropdown-menu > li > a{
        font-size: 12pt;
    }
}

@media (max-width: 992px){
    .menu .nav > li > a {
        padding: 5px 10px;
        font-size: 10pt;
    }
    .menu .dropdown-menu > li > a{
        font-size: 12pt;
        padding: 3px 3px;
    }
}
@media (max-width: 767px){
    .menu .navbar-collapse{
        position: absolute;
        width: 100%;
        padding: 0 15px 0 15px;
        background: rgba(14, 39, 71, 0.8);
        z-index: 999;
    }
    .menu .nav > li{
        border: none;
    }
    .menu .nav > li:hover,
    .menu .nav > li:focus{
        border: none;
    }
    .menu .nav > li:hover + li,
    .menu .nav > li:focus + li{
        border: none;
    }


    .menu .nav > li > a{
        border-bottom: 1px solid #515f71;
        font-family: ProximaNovalight;
        font-size: 35pt;
        color: #FFFFFF;
        padding: 30px 28px;
        text-transform: capitalize;
    }
    .menu .nav > li > a:hover, .nav > li > a:focus {
        background: transparent;
        border: none;

    }
    .menu  .nav .open > a, .nav .open > a:hover, .nav .open > a:focus{
        background: transparent;
        border: none !important;
    }
    .menu   .dropdown-menu{
        position: inherit;
        width: 100%;
        border:none;
    }
    .menu  .dropdown-menu > li > a{
        border-bottom: 1px solid #515f71;
        font-family: ProximaNovalight;
        font-size: 35pt;
        color: #FFFFFF;
        padding: 30px 28px;
        text-transform: capitalize;
        opacity: 1;
        white-space: normal;
        line-height: 40px !important;
    }
    .menu .dropdown-menu > li{
        float: none;
        width: 100%;
        position: relative;
        border-bottom: 1px dotted #ffffff;
        padding: 15px 0;

    }
    .menu .dropdown-menu > li > a{
        text-decoration: none;
        text-transform: none;
        font-family: ProximaNovaLight;
        font-size: 30pt;
        color: #FFFFFF;
    }
    .menu .dropdown-menu > li:hover, .dropdown-menu > li:focus{
        color:rgba(14, 39, 71, 1);
        background-color: #ffffff;
    }
    .menu  .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus{
        opacity:1;
        background-color: transparent;
        color: inherit;
    }

    .menu  .dropdown-menu > li > a:hover:after, .dropdown-menu > li > a:focus:after{
        content:'';
        position: inherit;
    }

    .menu  .dropdown-menu > .active > a,
    .menu  .dropdown-menu > .active > a:hover,
    .menu .dropdown-menu > .active > a:focus{
        opacity:1;
        background: transparent;
        color: inherit;
    }

    .menu  .dropdown-menu > .active > a:after{
        display:none;
    }
    .menu  .menu_switcher{
        display: none;
    }

}

/* MENU END*/
/*GENERAL STYLES START*/
h1{
    font-family: ProximaNovaThin;
    font-size: 32pt;
    color: #000;
    margin: 50px 0;
    display: block;
}
h2{
    font-family: ProximaNovaBold;
    font-size: 24pt;
    color: #000;
    margin: 25px 0;
    display: block;
}
h3{
    font-family: ProximaNovaBold;
    font-size: 16pt;
    color: #000;
    margin-top: 50px;
    display: block
}
.content{
    margin-bottom: 100px;
}
/*GENERAL STYLES END*/
/* HEADER START*/
.header {
    height: 290px;
    color: #FFF;
    background-size: cover;
    background-position: center;
}
@media screen and (max-width: 767px){
    .header{
        height:350px;
    }
}
.view360 {
    margin-top: 35px;
}

.view360 > p {
    margin-top: 5px;
}

.enter-button {
    margin-top: 35px;
}

.enter-button > p {
    margin-top: 5px;
}

.phone-header {
    font-family: BebasNeueReg;
    font-size: 30pt;
    display: block;
    margin-top: 40px;
    line-height: 20px;
}

.callback-header {
    font-family: ProximaNovaCnReg;
    font-size: 15pt;
    background: transparent;
    border: 0;
    text-decoration: underline;
    margin-left: 20px;
    float: left;
}
.header a:focus,
.header a:hover,
.header a:active{
    color: #dadce0;
    text-decoration: underline;
}
.smalltext-header {
    font-family: ProximaNovaCnReg;
    font-size: 14pt;
    color: #dadce0;
    margin-top: 5px;
}
.smalltext-header a{

    font-family: ProximaNovaCnReg;
    font-size: 14pt;
    color: #dadce0;
    margin-top: 5px;
}
.menu {
    padding: 0 !important;
}

.lead-header {
    color: #ffffff;

}

.lead-title {
    font-family: ProximaNovaExCnExBold;
    font-size: 50pt;
    color: #ffffff;

}

.lead-text {
    font-family: ProximaNovaCnReg;
    font-size: 20pt;
    width: 64%;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}

.fieldset {
    margin: 1em 0;
}

.fs-header {
    border: 8px solid #ffffff;
}

.fieldset_special > .legend {
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    border-width: 0px;
}

.legend__inner {
    display: block;
    overflow: hidden;

    text-align: center;
    white-space: nowrap;
}

.legend__content {
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    line-height: 1.4;
}

.legend__left,
.legend__right {
    display: inline-block;

    vertical-align: middle;

    width: 999px;
    margin: 0 0 0 -999px;
}

.l-header {
    border-top: 8px solid #ffffff;
}

.legend__right {
    margin: 0 -999px 0 0;
}

.menu-view360 {
    float: right;
    width: 20%;
    padding-top: 15px;
}

.menu-enter-button {
    float: right;
    width: 20%;
    padding-top: 15px;
}

.menu-logo-text {
    float: left;
    height: 75px;
    padding-top: 25px;
    width: 30%;
}

.navbar-toggle2 {
    border: 1px solid #FFF;
    height: 75px;
    padding: 0;
    margin: 0;
    width: 90px;
}

.phone-header-xs {
    font-family: BebasNeueReg;
    font-size: 60pt;
    display: block;
}

.callback-header-xs {
    font-family: ProximaNovaCnReg;
    font-size: 23pt;
    background: transparent;
    border: 1px solid #ffffff;
    text-decoration: none;
    margin-left: 15px;
    text-transform: uppercase;
    border-radius: 10px;
    height: 60px;
    width: 60%;
}

.lead-title-xs {
    font-family: ProximaNovaCnBold;
    font-size: 40pt;
    color: #ffffff;
    line-height: 45px;
}
@media screen and (max-width: 1199px) {
    .phone-header {
        font-size: 24pt;
    }
}
@media screen and (max-width: 992px) {
    .phone-header {
        font-size: 20pt;
    }

    .callback-header {
        font-size: 14pt;
        margin-left: 50px;
    }

    .smalltext-header {
        font-size: 9pt;
    }
}

@media screen and (max-width: 768px) {

    .menu {
        margin: 0px;
        padding: 0px;
    !important;
    }

    .navbar {

    }

    .lead-text {
        font-size: 19pt;
        width: 81%;
    }
}

/* HEADER END*/