/*HEADER BACKGROUND*/
.header {
    background: url(../images/citizenship_header_bg.png);
}

@media screen and (max-width: 767px) {
    .header {
        background: url(../images/citizenship_header_bg-xs.png);
    }
}

/*HEADER BACKGROUND*/
/*INFRASTRUCTURE START*/

.infrastructure{
    color: #000000;
}

.infrastructure-title{
    font-family: ProximaNovaThin;
    font-size: 32pt;
    margin: 50px 0;
    display: block;
}
@media (max-width: 767px){
    .infrastructure-title {
        font-family: ProximaNovaReg;
        font-size: 40pt;
        line-height: 50px;
    }
    .infrastructure-title{
        padding-left: 20px;
    }
}
.infrastructure .nav-tabs{
    border: 0px;
}
.infrastructure .nav-tabs .active{
    background-color: #000;
}
@media (min-width:768px){
    .infrastructure .nav-tabs > .active:after{
        content:url(../images/infrastructure-active-item.png);
        position: absolute;
        right: -12px;
        top: 15px;
    }
}

.infrastructure .nav-tabs > .active > a,
.infrastructure .nav-tabs > .active > a:hover,
.infrastructure .nav-tabs > .active > a:focus {
    border: 0px;
    border-top: 1px dotted #000;
    color: #FFF;
    background-color: inherit;
}
.infrastructure .nav-tabs > li{
    width:100%;
    height:50px;
    color: #000000;
    padding: 0px 20px;
    margin: 0px;
}

.infrastructure .nav-tabs li > a{
    width:100%;
    height:100%;
    border-radius: 0px;
    font-family: ProximaNovaCnReg;
    font-size: 14pt;
    color: #000;
    border-top: 1px dotted #000;
    white-space: normal;
}
@media (max-width: 1199px){
    .infrastructure .nav-tabs li > a{
        font-size: 10pt;
    }
}
@media (max-width: 767px){
    .infrastructure .nav-tabs{
        padding-left: 10px;
    }
    .infrastructure .nav-tabs li > a{
        font-size: 24pt;
        line-height: 30px;
    }
}
.infrastructure .nav-tabs li:last-child > a{
    border-bottom: 1px dotted #000;
}
.infrastructure .nav-tabs li > a:hover{
    background-color: inherit;
    border: 1px solid transparent;
    border-top: 1px dotted #000;
}
.infrastructure .nav-tabs li:last-child > a:hover{
    border-bottom: 1px dotted #000;
}
.infrastructure .tab-pane{
    font-family: ProximaNovaLight;
    font-size: 14pt;
}
.infrastructure .tab-pane p{
    margin-top: 20px;
}
.infrastructure .tab-pane img{
    width:100%;
}
.inf{
    margin-bottom:100px;
}
@media (max-width: 767px) {
    .infrastructure .inf-tabs{
        margin-bottom: 20px;
    }
}
@media (min-width: 768px) {
    .infrastructure .inf-tabs, .infrastructure .inf-content {
        min-height: 700px;
    }
}
.infrastructure .inf-content{
    float:left;
    padding: 0px;
}
.infrastructure .inf-content p{
    float:left;
    padding: 0px 20px;
}
@media (min-width: 768px){
    .infrastructure .inf-tabs{
        float:left;
        border-right: 2px solid #000;
    }
    .infrastructure .inf-content{
        float:left;
        padding: 0px 20px;
    }
}

/*INFRASTRUCTURE INNER SPRITE START*/
.infrastructure a > span{
    margin-right:10px;
    width: 42px;
    float:left;
}
a[href="#reception"] > span{
    background: url(../images/infrastructure-inner-sprite.png);
    background-position: 0px 0px;
    height: 40px;
}
.active a[href="#reception"] > span{
    background-position: 0px -44px;
}
a[href="#security"] > span{
    background: url(../images/infrastructure-inner-sprite.png);
    background-position: 0px -88px;
    height: 40px;

}
.active a[href="#security"] > span{
    background-position: 0px -128px;
}
a[href="#clubhouse"] > span{
    background: url(../images/infrastructure-inner-sprite.png);
    background-position: 0px -168px;
    height: 40px;

}
.active a[href="#clubhouse"] > span{
    background-position: 0px -213px;
}
a[href="#spa"] > span{
    background: url(../images/infrastructure-inner-sprite.png);
    background-position: 0px -258px;
    height: 40px;

}
.active a[href="#spa"] > span{
    background-position: 0px -300px;
}
a[href="#sport"] > span{
    background: url(../images/infrastructure-inner-sprite.png);
    background-position: 0px -342px;
    height: 40px;

}
.active a[href="#sport"] > span{
    background-position: 0px -386px;
}
a[href="#auditorium"] > span{
    background: url(../images/infrastructure-inner-sprite.png);
    background-position: 0px -430px;
    height: 40px;

}
.active a[href="#auditorium"] > span{
    background-position: 0px -474px;
}
a[href="#cinemahall"] > span{
    background: url(../images/infrastructure-inner-sprite.png);
    background-position: 0px -518px;
    height: 40px;

}
.active a[href="#cinemahall"] > span{
    background-position: 0px -562px;
}
a[href="#caffe"] > span{
    background: url(../images/infrastructure-inner-sprite.png);
    background-position: 0px -606px;
    height: 40px;

}
.active a[href="#caffe"] > span{
    background-position: 0px -646px;
}
a[href="#helipad"] > span{
    background: url(../images/infrastructure-inner-sprite.png);
    background-position: 0px -686px;
    height: 30px;

}
.active a[href="#helipad"] > span{
    background-position: 0px -725px;
}
/*INFRASTRUCTURE INNER SPRITE END*/

/*INFRASTRUCTURE OUTER SPRITE START*/
a[href="#school"] > span{
    background: url(../images/infrastructure-outer-sprite.png);
    background-position: 0px 0px;
    height: 30px;
    width: 36px;

}
.active a[href="#school"] > span{
    background-position: 0px -36px;
}
a[href="#zoo"] > span{
    background: url(../images/infrastructure-outer-sprite.png);
    background-position: 0px -72px;
    height: 30px;
    width: 36px;

}
.active a[href="#zoo"] > span{
    background-position: 0px -108px;
}
a[href="#beach"] > span{
    background: url(../images/infrastructure-outer-sprite.png);
    background-position: 0px -144px;
    height: 30px;
    width: 36px;

}
.active a[href="#beach"] > span{
    background-position: 0px -182px;
}
a[href="#supermarket"] > span{
    background: url(../images/infrastructure-outer-sprite.png);
    background-position: 0px -220px;
    height: 30px;
    width: 36px;

}
.active a[href="#supermarket"] > span{
    background-position: 0px -258px;
}
a[href="#reserve"] > span{
    background: url(../images/infrastructure-outer-sprite.png);
    background-position: 0px -296px;
    height: 30px;
    width: 36px;

}
.active a[href="#reserve"] > span{
    background-position: 0px -334px;
}
a[href="#ranch"] > span{
    background: url(../images/infrastructure-outer-sprite.png);
    background-position: 0px -372px;
    height: 30px;
    width: 36px;

}
.active a[href="#ranch"] > span{
    background-position: 0px -417px;
}
a[href="#church"] > span{
    background: url(../images/infrastructure-outer-sprite.png);
    background-position: 0px -462px;
    height: 30px;
    width: 36px;

}
.active a[href="#church"] > span{
    background-position: 0px -505px;
}
a[href="#pier"] > span{
    background: url(../images/infrastructure-outer-sprite.png);
    background-position: 0px -548px;
    height: 30px;
    width: 36px;

}
.active a[href="#pier"] > span{
    background-position: 0px -590px;
}
/*INFRASTRUCTURE OUTER SPRITE END*/

/*INFRASTRUCTURE END*/
/* FOOTER BACKGROUND*/
.footer {
    background: url(../images/citizenship_footer_bg.png);
}

@media screen and (max-width: 767px) {
    .footer {
        background: url(../images/citizenship_footer_bg-xs.png);
    }
}

/* FOOTER BACKGROUND*/