/*HEADER BACKGROUND*/
.header {
    background: url(../images/citizenship_header_bg.png);
}

@media screen and (max-width: 767px) {
    .header {
        background: url(../images/citizenship_header_bg-xs.png);
    }
}

/*HEADER BACKGROUND*/
.notes-title {
    font-family: ProximaNovaBold;
    font-size: 16pt;
}

.notes {
    font-family: ProximaNovaReg;
    font-size: 12pt;
}

.masterplan {
    color: #000000;
    padding: 0 20px;
    padding-bottom: 150px;
}

.masterplan-title {
    font-family: ProximaNovaThin;
    font-size: 32pt;
    margin: 50px 0;
    display: block;
}

.table-title {
    font-family: ProximaNovaBold;
    font-size: 16pt;
}

.scroll-table {
    overflow-x: auto;
}

.masterplan table {
    width: 1200px;
    margin: 20px 0;
}

.masterplan tr:not(:first-child):hover {
    background-color: lightgray;
}

.masterplan th {
    font-family: ProximaNovaBold;
    font-size: 12pt;
    line-height: 20px;
}

.masterplan td {
    font-family: ProximaNovaReg;
    font-size: 12pt;
}

.masterplan th, .masterplan td {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(200, 200, 200, 0.6);
}

.masterplan th:not(:first-child), .masterplan td:not(:first-child) {
    text-align: center;
}

.masterplan th:not(:last-child), .masterplan td:not(:last-child) {
    padding: 10px 15px;
}

.masterplan th:nth-child(9) {
    width: 12%;
}

.masterplan th:nth-child(10) {
    width: 9%;
}

.masterplan th:nth-child(11) {
    width: 10%;
}

/*RENT START*/
.rent {
    color: #000000;
    padding: 0 20px 50px 20px;
}

.rent p, .rent li {
    padding: 10px 0;
    font-family: ProximaNovaLight;
    font-size: 16pt;
}

/*RENT END*/
/*RENT-FORM START*/
.rent-form {
    background: url(../images/rent-form-bg.png);
    background-size: cover;
    color: #000000;
    min-height: 400px;
    padding: 40px 20px;
}

.rent-form-t1 {
    font-family: ProximaNovaBold;
    font-size: 18pt;
}

.rent-form-t2 {
    font-family: ProximaNovaReg;
    font-size: 16pt;
}

.rent-form-phone {
    font-family: ProximaNovaBold;
    font-size: 20pt;
}

#name {
    color: #FFF;
    font-family: ProximaNovaReg;
    font-size: 16pt;
    background-color: rgba(63, 56, 52, 0.5);
    height: 50px;
    width: 98%;
    padding: 0 15px;
    margin-top: 20px;
    border-radius: 10px;
    border: none;
    text-transform: capitalize;
}
#name::-webkit-input-placeholder {color:#FFF;}
#name::-moz-placeholder          {color:#FFF;}/* Firefox 19+ */
#name:-moz-placeholder           {color:#FFF;}/* Firefox 18- */
#name:-ms-input-placeholder      {color:#FFF;}
#phone {
    color: #FFF;
    font-family: ProximaNovaReg;
    font-size: 16pt;
    background-color: rgba(63, 56, 52, 0.5);
    height: 50px;
    width: 98%;
    padding: 0 15px;
    margin-top: 20px;
    border-radius: 10px;
    border: none;
}
#phone::-webkit-input-placeholder {color:#FFF;}
#phone::-moz-placeholder          {color:#FFF;}/* Firefox 19+ */
#phone:-moz-placeholder           {color:#FFF;}/* Firefox 18- */
#phone:-ms-input-placeholder      {color:#FFF;}
#ask {
    color: #FFF;
    font-family: ProximaNovaReg;
    font-size: 16pt;
    background-color: rgba(63, 56, 52, 1);
    height: 50px;
    width: 98%;
    margin-top: 20px;
    border-radius: 10px;
    border: none;
}

@media (max-width: 767px) {
    #name, #phone, #ask {
        height: 60px;
        width: 100%;
    }

}

/*RENT-FORM END*/
/* FOOTER BACKGROUND*/
.footer {
    background: url(../images/citizenship_footer_bg.png);
}

@media screen and (max-width: 767px) {
    .footer {
        background: url(../images/citizenship_footer_bg-xs.png);
    }
}

/* FOOTER BACKGROUND*/