/*HEADER BACKGROUND*/
.header{
    background: url(../images/citizenship_header_bg.png);
}
@media screen and (max-width: 767px){
    .header{
        background: url(../images/citizenship_header_bg-xs.png);
    }
}
/*HEADER BACKGROUND*/

/* DATASHEET START*/
.datasheet{
    color: #000000;
    margin-bottom: 150px;
}
.masterplan-title{
    font-family: ProximaNovaThin;
    font-size: 32pt;
    margin: 50px 0;
    display: block;
}

.plan img{
    height: 260px;
    max-width: 400px;
}
.plan p{
    font-family: ProximaNovaThin;
    font-size: 30pt;
}

.datasheet .subtitle{
    font-family: ProximaNovaReg;
    font-size: 28pt;
    margin-top:75px;
}
.ts-desc{
    font-family: ProximaNovaLight;
    font-size: 18pt;
}
.ts-desc p{
    margin: 0;
}

.ts-desc li{
    list-style-type:none;
}.ts-desc li:before{
     content: " - ";
 }
/* DATASHEET END*/
.decoration, .construction{
    color: #000000;
    font-size: 16pt;
    font-family: ProximaNovaReg;
}
/* DECORATION START*/

/* DECORATION END*/

/* FOOTER START*/
.footer {
    background: url(../images/citizenship_footer_bg.png);
}
@media screen and (max-width: 767px){
    .footer{
        background: url(../images/citizenship_footer_bg-xs.png);
    }
}
/* FOOTER END*/